* {
  font-family: 'Permanent Marker', cursive;
  font-size: 22px;
  margin: 0;
}

body {
  background-image: linear-gradient(to bottom, #55853fff, #d8cb5dff);
  color: #291d0eff;
}

h1 {
  font-size: 2.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 2% 5%;
  padding-bottom: 0;
}

.scores {
  margin-top: 12px;
}

.description {
  max-width: 60%;
}

.grid-cards {
  display: grid;
  padding: 2% 5%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  box-shadow: 0 0 15px black;
  padding: 16px 10px;
  border-radius: 8px;
  align-items: center;
  background-color: #d3d7a9ff;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 15px #fea02eff;
}

img {
  max-width: 90%;
}

.footer {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  gap: 8px;
  align-items: center;
  padding-bottom: 15px;
}

a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #515f7bff;
}

a:visited {
  color: rgb(175, 120, 163);
}
